<Config>
  <Game>
    <Vibration value="true" />
    <InvertX value="false" />
    <InvertY value="false" />
    <ExpertMode value="false" />
    <Compass value="false" />
    <ShowColorNames value="false" />
    <MouseSensitivity value="4" />
    <GamepadSensitivity value="0.5" />
    <VoiceChatVolume value="0" />
    <VoiceChatSettings value="3" />
    <TextChatSettings value="1" />
    <ShowTutorial value="false" />
    <ShowRecycleConfirm value="true" />
    <RunToggle value="false" />
    <DefaultCamera value="2" />
    <Show3DIcons value="2" />
    <SafeArea value="0" />
    <InterfaceSize value="1" />
    <PreferredPoI value="0" />
    <SplitScreenMode value="0" />
    <SplitScreenBigUI value="true" />
    <FarmhandsQuestProgress value="true" />
    <ResetCameraTeleport value="false" />
    <AlwaysShowInventory value="false" />
    <DisableBackgroundAudio value="true" />
  </Game>
  <Sound>
    <Sound value="0" />
    <Music value="0" />
    <Menu value="0" />
  </Sound>
</Config>